Flask==3.0.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.30
Werkzeug==3.0.3
Flask-Bcrypt==1.0.1
Flask-SocketIO==5.3.6
python-socketio==5.11.2
python-engineio==4.9.1
eventlet==0.36.1        # required backend for Flask-SocketIO
gunicorn==22.0.0        # production server (Render needs this)
